{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %} {% endblock %}

{% block body %}
    <div class="row home">
        <div class="col-7 text-center">
            <img src="/images/logo.png" alt="logo">
        </div>
    </div>
{% endblock %}

{% block javascripts %} {% endblock %}
