{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row home d-flex justify-content-center">
            <div class="col-7">
                <img src="{{ asset('images/logo.png') }}" alt="logo">
            </div>
            <div class="col-7 hello">
                <div class="welcomeMessage">
                    <span class="message1">Welcome to</span> <span class="message2">My page</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %} {% endblock %}
