body, html 
{
    height: 100%;
    margin: 0%;
    padding: 0%;
}

body 
{
    background-image: url("/public/images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    // linkedin, github, whatsapp icons
    .icons 
    {
        position: absolute;
        bottom: 20%;

        a {
            color: 0;
        }

        .fab {
            width: 4vw;
            margin-top: 2vh;
            border-radius: 10px;
        }
    }

    // template base.html.twig
    .nav-bar 
    {
        #navMenu 
        {
            justify-content: center;
            
            li {
                &:not(:first-child) {
                    opacity: 0;
                    animation: navlink 700ms ease-in 1 normal forwards,;
                    -webkit-animation: navlink 700ms ease-in 1 normal forwards,;
                }

                @keyframes navlink {
                    0% {
                        opacity: 0;
                        transform: scale(0);
                        -webkit-transform: scale(0);
                        -moz-transform: scale(0);
                        -ms-transform: scale(0);
                        -o-transform: scale(0);
                    }
                    90% {
                        opacity: 1;
                        transform: scale(1.3);
                        -webkit-transform: scale(1.3);
                        -moz-transform: scale(1.3);
                        -ms-transform: scale(1.3);
                        -o-transform: scale(1.3);
                    }
                    100% {
                        opacity: 1;
                        transform: scale(1);
                        -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                    }
                }    

                &:first-child {
                    text-align: center;
                }

                a {
                    font-size: 1.4vw;
                }
                
                .smallLogo {
                    max-width: 40%;
                    height: auto;
                    border-radius: 20%;
                    animation: smallLogo 12s linear 2s infinite alternate none;
                    -webkit-animation: smallLogo 12s linear 2s infinite alternate none;
                }
                
                @keyframes smallLogo {
                    0% {transform: rotateY(0deg) rotateX(0deg);}
                    25% {transform: rotateY(360deg) rotateX(0deg);}
                    50% {transform: rotateY(360deg) rotateX(360deg);}
                    100% {transform: rotateY(0deg) rotateX(0deg);}
                }
            }
        }
        
        #menuHamburger {
            position: absolute;
            color: white;
            top: 1%;
            left: 1%;
            visibility: hidden;

            i {
                font-size: 7vw;
            }
        }

        #menuHamburger:hover {
            cursor: pointer;
        }
    

        a {
            font-family: Silkscreen;
            font-weight: bold;
            font-size: larger;
        }
        
        li:hover a {
            background-color: grey;
            border-radius: 20px;
            color: white;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }
    }    

    // template home > index.html.twig
    .home 
    {
        position: relative;
        top: 15%;
        margin-left: 1%;

        .doors
        {
            position: relative;
            display: grid;
            grid-template-columns: auto auto;
            width: 25%;
            margin-left: 23%;
            background-image: url("/public/images/eiffelday.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            color: blue;
            animation: doors 10s linear 12s infinite alternate forwards;
            -webkit-animation: doors 10s linear 12s infinite alternate forwards;
            
            @keyframes doors {
                from {background-image: url("/public/images/eiffelday.jpg"); color: blue;}
                to {background-image: url("/public/images/eiffelmoon.jpg"); color: white;}
            }
            
            .door {
                width: 100%;
                height: auto;
                border: 1px solid gray;
                box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.4);
            }

            .door1 {
                animation: door1 5s linear 1 normal forwards;
                -webkit-animation: door1 5s linear 1 normal forwards;
            }
            
            @keyframes door1 {
                from { transform: perspective(500px) rotateY(0deg); transform-origin: 0% 0%; -webkit-transform: perspective(500px) rotateY(0deg); -moz-transform: perspective(500px) rotateY(0deg); -ms-transform: perspective(500px) rotateY(0deg); -o-transform: perspective(500px) rotateY(0deg); }
                to { transform: perspective(500px) rotateY(-170deg); transform-origin: 0% 0%; -webkit-transform: perspective(500px) rotateY(-170deg); -moz-transform: perspective(500px) rotateY(-170deg); -ms-transform: perspective(500px) rotateY(-170deg); -o-transform: perspective(500px) rotateY(-170deg); }
            }

            .door2 {
                animation: door2 5s linear 1 normal forwards;
                -webkit-animation: door2 5s linear 1 normal forwards;
            }
     
            @keyframes door2 {
                 from { transform: perspective(500px) rotateY(0deg); transform-origin: 100% 0%; -webkit-transform: perspective(500px) rotateY(0deg); -moz-transform: perspective(500px) rotateY(0deg); -ms-transform: perspective(500px) rotateY(0deg); -o-transform: perspective(500px) rotateY(0deg); }
                 to { transform: perspective(500px) rotateY(170deg); transform-origin: 100% 0%; -webkit-transform: perspective(500px) rotateY(170deg); -moz-transform: perspective(500px) rotateY(170deg); -ms-transform: perspective(500px) rotateY(170deg); -o-transform: perspective(500px) rotateY(170deg); }
            }

            .myphoto {
                position: absolute;
                max-width: 40%;
                height: auto;
                opacity: 0;
                animation: myphoto 3s linear 6s forwards;
                -webkit-animation: myphoto 3s linear 6s forwards;
            }

            @keyframes myphoto {
                0% {opacity:0;}
                25% {opacity:0.25;}
                50% {opacity:0.5;}
                75% {opacity:0.75;}
                100% {opacity:1;}
            }

            .welcomeMessage 
            {
                display: inline-block;
                font-family: fantasy;
                font-size: 2vw;
                position: absolute;
                bottom: 30%;
                left: 15%;
                transform: rotateX(25deg);
                -webkit-transform: rotateX(25deg);
                -moz-transform: rotateX(25deg);
                -ms-transform: rotateX(25deg);
                -o-transform: rotateX(25deg);
                
                .message1 {
                    opacity: 0;
                    position: relative;
                    animation: Message1 2s linear 10s 1 forwards;
                    -webkit-animation: Message1 2s linear 10s 1 forwards;
                    text-shadow: 1px 1px 1px #051646,
                                1px 2px 1px #051646,
                                1px 3px 1px #051646,
                                1px 4px 1px #051646,
                                1px 5px 1px #051646,
                        1px 18px 6px rgba(16,16,16,0.4),
                        1px 22px 10px rgba(16,16,16,0.2),
                        1px 25px 35px rgba(16,16,16,0.2),
                        1px 30px 60px rgba(16,16,16,0.4);
                }
    
                @keyframes Message1 {
                    0% {opacity:0; right:200px;}
                    25% {opacity:0.25; right:150px;}
                    50% {opacity:0.5; right:100px;}
                    75% {opacity:0.75; right:50px;}
                    100% {opacity:1; right:0px;}
                }
                
                .message2 {
                    opacity: 0;
                    position: relative;
                    animation: Message2 2s linear 10s 1 forwards;
                    -webkit-animation: Message2 2s linear 10s 1 forwards;
                    text-shadow: 1px 1px 1px #051646,
                                1px 2px 1px #051646,
                                1px 3px 1px #051646,
                                1px 4px 1px #051646,
                                1px 5px 1px #051646,
                        1px 18px 6px rgba(16,16,16,0.4),
                        1px 22px 10px rgba(16,16,16,0.2),
                        1px 25px 35px rgba(16,16,16,0.2),
                        1px 30px 60px rgba(16,16,16,0.4);
                }
                
                @keyframes Message2 {
                    0% {opacity:0; left:200px;}
                    25% {opacity:0.25; left:150px;}
                    50% {opacity:0.5; left:100px;}
                    75% {opacity:0.75; left:50px;}
                    100% {opacity:1; left:0px;}
                }
            }
        }  

        .wrapper 
        {
            overflow-x: hidden;
            width: 42%;
            margin-left: 14%;
            margin-top: 1%;
            color: blue;
            font-size: 1.5rem;
            
            #pageSlogan {
                opacity: 0;
                animation: sloganAnimation 6s linear 5s infinite normal forwards;
                -webkit-animation: sloganAnimation 6s linear 5s infinite normal forwards;
            }
            
            @keyframes sloganAnimation {
                from {
                    opacity: 1;
                    transform: translateX(800px);
                    -webkit-transform: translateX(800px);
                    -moz-transform: translateX(800px);
                    -ms-transform: translateX(800px);
                    -o-transform: translateX(800px);
                }
                to {
                    opacity: 1;
                    transform: translateX(-300px);
                    -webkit-transform: translateX(-300px);
                    -moz-transform: translateX(-300px);
                    -ms-transform: translateX(-300px);
                    -o-transform: translateX(-300px);
                }
            }
        }
    }  

    // template projects > index.html.twig
    .pageProjects 
    {
        position: relative;
        top: 8%;
        margin-left: 1%;

        .typewriter 
        {
            width: 50%;
            text-align: center;
            margin-left: 10%;
            margin-bottom: 1%;

            h4 {
                margin: auto auto;
                font-family: Audiowide;
                font-size: 1.5vw;
                color: blue;
                overflow: hidden;
                border-right: .15em solid orange;
                white-space: nowrap;
                letter-spacing: .15em;
                animation: typing 5s steps(40, end) forwards, blink-caret .5s step-end infinite;
                -webkit-animation: typing 5s steps(40, end) forwards, blink-caret .5s step-end infinite;
            }
        
            @keyframes typing {
                from {width: 0%;}
                to {width: 30%;}
            }
            
            @keyframes blink-caret {
                from {border-color: transparent;}
                50% {border-color: orange;}
                to {border-color: transparent;}
            }
        }
        
        .carousel 
        {
            width: 50%;
            margin-left: 10%;

            .carousel-indicators {
                top: 100%;
                filter: invert(100%);
                -webkit-filter: invert(100%);
            }

            .projects {
                position: relative;
                display: grid;
                grid-template-columns: auto auto;
                font-size: 1vw;

                .project {
                    .projectName {
                        text-align: center;
                        color:blueviolet;
                        font-family: cursive;
                    }
            
                    .projectPhoto {
                        img {
                            display: block;
                            width: 100%;
                        }
                    }

                    p {
                        margin-bottom: 0%;
                    }
                
                    .suite a, .reduire a {
                        visibility: hidden;
                        position: absolute;
                    }
                
                    .projectLink {
                        font-family: cursive;
                    }
                }
            }

            .carousel-control-next, .carousel-control-prev {
                filter: invert(100%);
                opacity: 1;
                width: 5%;
                -webkit-filter: invert(100%);
            }
        }
    }
}


// template home -> about.html.twig
.about 
{
    margin: 0%;
    padding: 0%;
    background-image: none;
    background-color: rgba(209,213,216,255);
   
    .aboutMe 
    {
        position: relative;
        top: 8%;
        margin-left: 2%;

        .screen 
        {
            margin-right: 25%;
            margin-left: 25%;
            padding: 2%;
            background-color: white;
            border: 18px solid black;
            border-radius: 15px 15px 0 0;
            -webkit-border-radius: 15px 15px 0 0;
            -moz-border-radius: 15px 15px 0 0;
            -ms-border-radius: 15px 15px 0 0;
            -o-border-radius: 15px 15px 0 0;
            
            .myPhoto
            { 
                position: relative;

                img {
                   width: 7vw;
                   height: auto;
                   opacity: 0;
                   animation: myphoto 4s linear 1s 1 normal forwards;
                   -webkit-animation: myphoto 4s linear 1s 1 normal forwards;
                }

                @keyframes myphoto {
                    from {opacity: 0;}
                    to {opacity: 1;}
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    width: 150px;
                    height: 150px;
                    background-color: white;
                    animation: overlay 4s linear 1s 1 normal forwards;
                    -webkit-animation: overlay 4s linear 1s 1 normal forwards;
                }

                @keyframes overlay {
                    0% {
                        opacity:1;
                        transform:translateX(0px);
                        -webkit-transform:translateX(0px);
                        -moz-transform:translateX(0px);
                        -ms-transform:translateX(0px);
                        -o-transform:translateX(0px);
                    }
                    99% {
                        opacity: 1;
                        transform:translateX(155px);
                        -webkit-transform:translateX(155px);
                        -moz-transform:translateX(155px);
                        -ms-transform:translateX(155px);
                        -o-transform:translateX(155px);
                    }
                    100% {
                        opacity:0;
                        transform:translateX(160px);
                        -webkit-transform:translateX(160px);
                        -moz-transform:translateX(160px);
                        -ms-transform:translateX(160px);
                        -o-transform:translateX(160px);
                    }
                }
            }

            .typewriting 
            {
                margin-top: 0.5%;

                .lignes {
                    margin: 0%;
                    font-family: Audiowide;
                    font-size: 1.5vw;
                    color: blue;
                    overflow: hidden;
                    border-right: .15em solid transparent;
                    white-space: nowrap;
                    padding: auto 0;
                    letter-spacing: .15em;
                    visibility: hidden;
                }
    
                .ligne-1 {
                    animation: type 5s steps(40, end) 5s forwards, blinking .5s 15 backwards;
                    -webkit-animation: type 5s steps(40, end) 5s forwards, blinking .5s 15 backwards;
                }
        
                .ligne-2 {
                    animation: type 5s steps(40, end) 10s forwards, blinking .5s 25 backwards;
                    -webkit-animation: type 5s steps(40, end) 10s forwards, blinking .5s 25 backwards;  
                }
        
                .ligne-3 {
                    animation: type 5s steps(40, end) 15s forwards, blinking .5s 39 backwards;
                    -webkit-animation: type 5s steps(40, end) 15s forwards, blinking .5s 39 backwards;
                }

                .ligne-4 {
                    animation: type 5s steps(40, end) 20s forwards, blinking .5s 49 backwards;
                    -webkit-animation: type 5s steps(40, end) 20s forwards, blinking .5s 49 backwards;
                }
                
                button {
                    margin-top: 0.5%;
                    font-family: Audiowide;
                    font-size: 1.3vw;
                    color: white;
                    visibility: hidden;
                    animation: type 5s steps(40, end) 25s forwards;
                    -webkit-animation: type 5s steps(40, end) 25s forwards;
                }
    
                @keyframes type {
                    from {width:0; visibility: hidden;}
                    to {width: 100%; visibility: visible;}
                }
                
                @keyframes blinking {
                    from {border-color: transparent;}
                    50% {border-color: orange;}
                    to {border-color: transparent;}
                }
            }
        }

        .screen-below {
            margin-right: 25%;
            margin-left: 25%;
            padding: 1%;
            background-color: #b9bdbe;
            border: 5px solid #b9bdbe;;
            border-radius: 0 0 15px 15px;
            -webkit-border-radius: 0 0 15px 15px;
            -moz-border-radius: 0 0 15px 15px;
            -ms-border-radius: 0 0 15px 15px;
            -o-border-radius: 0 0 15px 15px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
                        rgba(0, 0, 0, 0.22) 0px 19px 12px;
        }

        .screen-leg {
            position: relative;
            perspective: 80px;

            .leg-1 {
                position: absolute;
                right: 46%;
                left: 46%;
                top: 10%;
                padding: 1%;
                background-color: #b9bdbe;
                border-bottom: 1px solid linear-gradient(grey, black, grey);
                transform-style: preserve-3d;
                transform: rotateX(15deg);
                -webkit-transform: rotateX(15deg);
                -moz-transform: rotateX(15deg);
                -ms-transform: rotateX(15deg);
                -o-transform: rotateX(15deg);
            }

            .leg-2 {
                position: absolute;
                right: 45%;
                left: 45%;
                top: 70%;
                padding: 1.5%;
                background-color: #b9bdbe;
                border-top: 1px solid gray;
                border-bottom: 3px solid lightgray;
                border-radius: 0 0 15px 15px;
                -webkit-border-radius: 0 0 15px 15px;
                -moz-border-radius: 0 0 15px 15px;
                -ms-border-radius: 0 0 15px 15px;
                -o-border-radius: 0 0 15px 15px;
                transform-style: preserve-3d;
                transform: rotateX(60deg);
                -webkit-transform: rotateX(60deg);
                -moz-transform: rotateX(60deg);
                -ms-transform: rotateX(60deg);
                -o-transform: rotateX(60deg);
                box-shadow: rgba(0, 0, 0, 0.55) 0px 4px 8px, 
            }
        }

        .keyboard 
        {
            position: relative;
            perspective: 80px;

            .clavier 
            {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 30%;
                margin-top: 3.5%;
                margin-right: auto;
                margin-left: auto;
                padding: 0.3%;
                background-color: #b9bdbe;
                border: 1px solid gray;
                border-bottom: 4px solid gray;
                border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                transform-style: preserve-3d;
                transform: rotateX(15deg);
                    -webkit-transform: rotateX(15deg);
                    -moz-transform: rotateX(15deg);
                    -ms-transform: rotateX(15deg);
                    -o-transform: rotateX(15deg);

                .digits, .letters {
                    border: 1px solid gray;
                    border-bottom: 4px solid gray;
                    width: 7%;
                    height: 7%;
                    margin: 1%;
                    margin-bottom: 0.3%;
                    text-align: center;
                }
      
                $delay: 5;
                $myArray: 8, 9, 13, 25, 14, 1, 13, 5, 9, 19, 14, 9, 10, 1, 20, 9, 1, 13, 1, 23, 5, 2, 4, 5, 22, 5, 12, 15, 16, 16, 5, 18, 23, 1, 14, 20, 20, 15, 11, 14, 15, 23, 13, 15, 18, 5, 1, 2, 15, 21, 20, 13, 5, 4, 15, 23, 14, 12, 15, 1, 4, 13, 25, 3, 22, 2, 5, 12, 15, 23;
    
                @each $i in $myArray 
                {
                    #letter#{$i} 
                    {
                        animation: click 0.29s ease #{$delay}s 1 normal backwards;
                        -webkit-animation: click 0.29s ease #{$delay}s 1 normal backwards;
                    }
    
                    $delay:$delay+0.29;
                }
    
                @keyframes click {
                    from { border-bottom: 4px solid gray;}
                    to { border-bottom: 0.5px solid gray; background-color: blue;}
                }
            }
        }
    }
}


// template home -> contact.html.twig
.contact 
{
    margin: 0%;
    padding: 0%;
    background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
    background-size: cover;
    background-repeat: no-repeat;

    .contactForm {
        position: relative;
        margin-left: 1%;

        form {
            margin: 10% 20%;

            h2 {
                margin-bottom: 2%;
            }
            
            input, textarea, button {
                padding: 1%;
            }

            textarea {
                resize: none;
            }
        }
    }
}



// RESPONSIVE DESIGN
@media only screen and (max-width: 1600px) 
{
    body 
    {
        // template projects > index.html.twig
        .pageProjects {
            .typewriter {
                width: 55%;
                margin-left: 8%;
                margin-bottom: 2%;
            }

            .carousel {
                width: 55%;
                margin-left: 8%;

                .projects {
                    font-size: 1.2vw;
                }
            }
        }
    }  
}

@media only screen and (max-width: 1400px) 
{
    body 
    {
        background-image: url("/public/images/home1.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        .icons {
            .fab {
                background-color: white;
            }
        }

        // template base.html.twig
        .nav-bar {
            #navMenu {
                li {
                    a {
                        font-size: 1.7vw;
                    }
                }
            }
        }

        // template home > index.html.twig
        .home {
            top: 20%;
            
            .doors {
                width: 30%;
                margin-left: 35%;

                .welcomeMessage {
                    bottom: 20%;
                }
            }

            .wrapper {
                width: 54%;
                margin-left: 22%;
                color: cadetblue;
                font-size: 1.4rem;
            }
        }

        // template projects > index.html.twig
        .pageProjects {
            .typewriter {
                width: 65%;

                h4 {
                    font-size: 2vw;
                    color: lightseagreen;
                }
            }

            .carousel {
                width: 65%;

                .carousel-indicators {
                    filter: invert(0%);
                    -webkit-filter: invert(0%);
                }

                .projects {
                    color: lightseagreen;
                    font-size: 1.5vw;

                    .project {
                        .projectName {
                            color: lightseagreen;
                        }
                    }    
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) 
{
    body 
    {
        // template base.html.twig
        .nav-bar {
            #navMenu {
                li {
                    a {
                        font-size: 2vw;
                    }
                }
            }
        }
        
        // template projects > index.html.twig
        .pageProjects {
            .typewriter {
                width: 75%;

                h4 {
                    font-size: 2.3vw;
                }
            }

            .carousel {
                width: 75%;

                
                .projects {
                    font-size: 1.8vw;
                }
            }
        }
    }  
}

@media only screen and (max-width: 1000px) 
{
    body 
    {
        // template base.html.twig
        .nav-bar {
            #navMenu {
                li {
                    a {
                        font-size: 2.5vw;
                    }
                }
            }
        }

        // template home > index.html.twig
        .home {
            .doors {
                width: 40%;
                
                .welcomeMessage {
                    font-size: 3vw;
                }
            }

            .wrapper {
                margin-top: 2%;
                width: 80%;
                margin-left: 15%;
                font-size: 1.4rem;
            }
        }

        // template projects > index.html.twig
        .pageProjects {
            .typewriter {
                width: 85%;
                margin-bottom: 3%;

                h4 {
                    font-size: 2.5vw;
                }
            }

            .carousel {
                width: 85%;

                .projects {
                    font-size: 2vw;
                    
                    .project {
                        .projectName {
                            font-size: 2.5vw;
                        }
                    }    
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) 
{
    body 
    {
        // template base.html.twig
        .nav-bar {
            #navMenu {
                display: block;
                margin-top: 5%;
                
                li:not(:first-child) {
                    width: 30%;
                    visibility: hidden;
                }

                li:first-child {
                    position: absolute;
                    left: 70%;
                    top: 2%;
                }

                li:hover a {
                    background-color: blue;
                }
            }

            #menuHamburger {
                visibility: visible;
            }
        }

        // template home > index.html.twig
        .home {
            top: 10%;
        }

        // template projects > index.html.twig
        .pageProjects {
            top: 2%;

            .typewriter {
                width: 90%;

                h4 {
                    font-size: 2.9vw;
                }
            }

            .carousel {
                width: 90%;

                .projects {
                    font-size: 2.3vw;

                    .project {
                        .projectName {
                            font-size: 2.7vw;
                        }
                    }    
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) 
{
    body 
    {
        background-image: url("/public/images/home2.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        // template base.html.twig
        .nav-bar {
            #navMenu {
                li:hover a {
                    background-image: linear-gradient(to right top, #093241, #00616f, #00937b, #00c361);
                }

                li:not(:first-child) {
                    background-color: black;    
                }
            }
        }

        // template home > index.html.twig
        .home {
            .doors {

                .welcomeMessage {
                    bottom: 10%;

                    .message1, .message2 {
                        text-shadow: 0 1px 0 #ccc, 
                                    0 2px 0 #c9c9c9,
                                    0 3px 0 #bbb,
                                    0 4px 0 #b9b9b9,
                                    0 5px 0 #aaa,
                                0 6px 1px rgba(0,0,0,.1),
                                0 0 5px rgba(0,0,0,.1),
                                0 1px 3px rgba(0,0,0,.3),
                                0 3px 5px rgba(0,0,0,.2),
                                0 5px 10px rgba(0,0,0,.25),
                                0 10px 10px rgba(0,0,0,.2),
                                0 20px 20px rgba(0,0,0,.15);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) 
{
    body 
    {
        background-image: url("/public/images/home3.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        // template base.html.twig
        .nav-bar {
            #navMenu {
                li:hover a {
                    background: rgb(2,0,36);
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,44,77,1) 47%);
                }
            }
        }

        // template projects > index.html.twig
        .pageProjects {
            .carousel {
                .projects {
                    font-size: 2.5vw;
                }
            }
        }
    }
}



